.dark{
  min-height: 100vh;
  background-color: #1b1b1b;
  /* color: rgb(253, 75, 164); */
  color: rgb(255, 30, 41);
  transition: 2s;
}
.white{
  min-height: 100vh;
  color: rgba(35, 153, 35, 0.733);
  background-color: #fff;
  transition: 2s;
}